{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error", 
      {
        "semi": true,
        "trailingComma": "all",
        "singleQuote": true,
        "eol": "auto"
      }
    ]
  },
  "env": {
    "node": true
  }
}